*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #675afe;
}
.wrepper{
    width: 30%;
    padding: 30px;
    margin: 10px;
    border-radius: 7px;
    background: #fff;
}
.wrepper header{
   font-size: 28px;
   font-weight: 500;
   text-align: center;
}
.wrepper form{
margin: 40px 0 20px 0;
}
form :where(input, select){
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form label{
    font-size: 18px;
    margin-top: 15px;
}
form select{
    height: 30px;
  background-color: #bcbbbb;
    margin-bottom:15px;
    margin-top: 15px;
}
form input{
    height: 50px;
    font-size: 17px;
 
    border: 1px solid #999;
}
.btn{
    background-color:#675afe ;
}
.btn:hover{
    background-color:#a5a2c6 ;
}
.result{
  padding: 10px;
  border-radius: 7px;
    background: #5af9fe;
}
form input:focus{
 
    border: 1px solid #c05454;
}
button{
    height:100px;
    background-color:#cb9e9e; color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: 10px;
    border-radius: 5px;
}

.btnwrepper{
    width: 100%;
    padding: 30px;
    margin: 10px;
    border-radius: 7px;
    background: #fff;
}
button:hover{
    height:100px;
    background-color:#808080;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: 10px;
    border-radius: 5px;
}
.btnwrepper header{
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
 }
 .btnmain{
    height:50px;
    background-color:#cb9e9e; color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: 10px;
    border-radius: 5px;
}
.btnmain:hover{
    height:50px;
    background-color:#808080;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: 10px;
    border-radius: 5px;
}